
<div class="footnov" id="myFootnav" style="position: {% block footer%}{% endblock %}; bottom: 0; width: 100%;">
    <a href="" >Follow me : </a>

    <a href="https://github.com/gnvml" style="background: black; color: white;" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/gnvml/" style="background: #007bb5; color: white;" class="fa fa-linkedin"></a>
    <a href="https://www.youtube.com/channel/UCOxlXd4W_JGHQZm-P809lIg" style="background: #cd485c; color: white;" class="fa fa-youtube"></a>
  </div>
  
  